/* COLOR VARIABLES */

:root {
    --red: #e50914;
    --black: #141414;
}

/* RESET */

*{
    box-sizing: border-box;
    font-family: "Times New Roman", Times, Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

/* GENERAL STYLES */

body{
    background-color: var(--black);
    color: #fff;
    margin: 0 auto;
    max-width: 1500px;
}

/* NAVIGATION MENU */

header .container{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.logo {
    color: var(--red);
    font-size: 2.5rem;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

header nav a{
    color: #aaa;
    margin-right: 10px;
    text-decoration: none;
}

header nav a:hover{
    color: #fff;
}

/* MAIN MOVE */
 
.main-move{
    align-items: flex-start;
    background: linear-gradient(rgba(0,0,0, .50), rgba(0,0,0, .50)100%), url(../img/capa-house.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    height: 25em;
    justify-content: center;
    padding-left: 20px;
}

.main-move .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60vw;
}

.movie-title{
    font-size: 2.5em;
}
 
.sinopse{
    margin: 1.25em 0 2.5em 0;
}

.buttons button{
    background-color: rgba(0,0,0, .50);
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
    font-weight: bold;
    padding: 15px 30px;
    margin-right: 15px;
    text-transform: uppercase;
    transition: .3s ease all;
}

button i{
    margin-right: 10px;
    font-size: 1em;
}

.buttons button:hover{
    background-color: #fff;
    color: var(--black);
}